.shop-page {
  width: 100vw;
  min-height: 98vh;
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
  
}
.shop-page h1{
  margin-left: 270px;
}
.shop-subtitle {
  margin-left: 270px;
  max-width: 800px;
  margin-bottom: 1.5rem;
}

.coin-display {
  margin-left: 250px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}

.coin-display img {
  width: 24px;
  margin-right: 8px;
}

.shop-panels {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
}

.panel {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 12px;
  width: 460px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

.item {
  position: relative;
  cursor: pointer;
}

.item img {
  width: 100px;
}

.item .count {
  position: absolute;
  bottom: -10px;
  right: -10px;
  background: #444;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.item.selected {
  box-shadow: 0 0 10px 5px gold;
  border-radius: 8px;
}

.description-box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 1rem;
  font-size: 0.85rem;
}

.item-stats {
  display: flex;
  gap: 1.2rem;
  margin-top: 0.5rem;
}

.item-stats img {
  width: 20px;
  vertical-align: middle;
  margin-right: 4px;
}

.arrow-buttons {
  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 0rem;
  margin: 9rem 0;
}

.arrow {
  width: 200px;
  height: auto;
  cursor: pointer;
}
.arrow-right {
  transform: rotate(0deg);
  margin-left: 35px;
}
.arrow-left {
  transform: rotate(180deg);
  margin-left: -35px;
}
