.alchemic-page {
  margin-top: 100px;
  width: 100vw;
  min-height: 88vh; 
  padding: 2rem 3rem; 
  color: white;
  box-sizing: border-box;
  position: relative;
  overflow: hidden; 
}

.deadline-badge {
  position: absolute;
  right: 3rem;
  top: 1.5rem;
  background-color: #e63900;
  color: white;
  font-size: 0.85rem;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  font-weight: bold;
}

.alchemic-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem; 
}


.lab-task {
  margin-top: 250px;
  flex: 2;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.scroll-image {
  
  width: 100%;
  max-width: 950px;
  height: 650px;
  display: block;
  border-radius: 10px;
}

.scroll-text {
  position: absolute;
  top: 10%;      
  left: 10%;
  right: 55%;
  bottom: 18%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: #3c1d00;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Georgia', serif;
  padding-right: 0.5rem;
}

.scroll-text::-webkit-scrollbar {
  display: none; 
}

.scroll-text h2 {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.task-header {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.info-icon {
  font-size: 1.2rem;
  cursor: pointer;
}

/* Правая панель */
.side-panel {
  margin-top: 10rem;
  flex: 0.7;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-right: 10rem;
}

/* Применить свиток */
.apply-scroll {
  background: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 92%;
  height: 50px;
}

.checkbox {
  width: 44px;
  height: 44px;
  background-color: #999;
  border-radius: 4px;
}

/* Выбор свитков */
.scroll-selector {
  background: rgba(255, 255, 255, 0.7);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 1rem;
  
}

.scroll-cards {
  display: flex;
  gap: 0.5rem;
}

.scroll-card {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 4px;
}

.arrow1 {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.rotate-left {
  transform: rotate(90deg);
}

.rotate-right {
  transform: rotate(-90deg);
}

/* Кнопки */
.open-outline {
  background: white;
  color: black;
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}

.open-outline .subtitle {
  font-size: 0.75rem;
  color: #555;
  margin-top: 0.2rem;
}

.submit-button {
  background: #ffd766;
  border: none;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
