.login-page {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/background.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  padding: 2rem 3rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 400px;
}

.login-box h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}


.password-field {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.password-field input {
  width: 100%;
  padding-right: 40px; 
  padding: 0.9rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
}


.eye-icon {
  position: absolute;
  top: 40%;
  right: 5px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.eye-icon:hover {
  opacity: 1;
}

.login-box button {
  width: 100%;
  padding: 1rem;
  background-color: #ff9800;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: #e08800;
}
