.achievements-page {
  width: 100vw;
  min-height: 98vh;
  padding: 2rem 3rem;
  color: white;
  box-sizing: border-box;
}

.achievements-page h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-left: 16.5rem; 
}

.description {
  font-size: 1rem;
  max-width: 900px;
  margin-bottom: 2rem;
  color: #ddd;
  margin-left: 16.5rem; 
}

.achievements-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.achievements-list
{
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 2.5rem;
  flex: 1 1 400px;
  max-width: 650px;
}

.leaderboard {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 1.5rem;
  flex: 1 1 400px;
  max-width: 300px;
}

.achievements-list h2
{
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}
.leaderboard h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.achievement-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));

  gap: 1rem;
}

.achievement-card {
  width: 100%;
  height: 100px; 
  background: #ccc;
  border-radius: 8px;
}


.leaderboard-entries {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leaderboard-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #d3d3d3;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: black;
}

.position {
  font-size: 1.5rem;
  font-weight: bold;
  width: 20px;
}

.player-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #888;
}

.player-info {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}
