.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  width: 100vw; 
  box-sizing: border-box; 
  z-index: 1000;
  margin: 0;
}

.logo1, .profile-btn, .add-student {
  background: linear-gradient(to bottom, #666, #444);
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.admin-header select {
  background: #666;
  color: #fff;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}

.admin-header select option {
  background: rgba(30, 30, 30, 0.95);
  color: #fff;
  padding: 8px;
  border-bottom: 1px solid #444;
}

.admin-header select option:hover {
  background: rgba(80, 80, 80, 0.9);
}

.group-select {
  margin: 0 10px;
  padding: 6px;
  border-radius: 6px;
  border: none;
  background: linear-gradient(to bottom, #777, #555);
  color: rgb(255, 255, 255);
}

.admin-controls {
  display: flex;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  background: rgba(50, 50, 50, 0.9);
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 300px;
  height: 300px;
}

.modal h2 {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}

.modal input {
  width: 70%;
  padding: 10px;
  margin-bottom: 50px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  background: #666;
  color: #fff;
}

.modal input::placeholder {
  color: #ccc;
}

.modal button {
  background: linear-gradient(to bottom, #0d463e, #073a41);
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
  transition: background 0.3s;
}

.modal button:hover {
  background: linear-gradient(to bottom, #888, #555);
}
