.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Arial', sans-serif;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px; 
}