.dungeon-page {
  width: 96.35vw;
  max-height: 95vw;
  padding: 2rem 2rem 1rem;
  color: white;
}

.dungeon-page h1 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  display: inline-block;
  backdrop-filter: blur(5px);
  margin-left: 9.5rem; 
}


.dungeon-description {
  font-size: 1rem;
  color: #ddd;
  margin-bottom: 2rem;
  display: block;
  padding: 0rem;
  border-radius: 8px;
  width: 50rem;
  margin-left: 170px;
}

.boss-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.boss-card {
  background-color: #f5f5f5;
  width: 250px;
  height: 310px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  position: relative;
  transition: transform 0.3s;
}

.boss-card.unlocked {
  background-color: #1B4745;
  color: white;
}

.boss-card:hover {
  transform: scale(1.05);
}

.boss-image {
  max-height: 200px;
  object-fit: contain;
}

.boss-lock {
  width: 60px;
  height: 60px;
  opacity: 0.8;
}

.boss-name {
  margin-top: 1rem;
}

.boss-module {
  font-size: 0.8rem;
  color: #ccc;
}

/* Стрелка */
.arrow-button {
  width: 74px;
  height: 74px;
  cursor: pointer;
}


.rotate-left {
  transform: rotate(90deg);
}

.rotate-right {
  transform: rotate(-90deg);
}

/* Кнопка на свитке */
.enter-dungeon-wrapper {
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-background {
  width: 600px;
  max-width: 90%;
}

.enter-dungeon-text {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3c1d00;
  cursor: pointer;
  user-select: none;
}

.enter-dungeon-text .boss-info {
  display: block;
  font-size: 1rem;
  margin-top: 0.3rem;
}
