
.main-contents {
  width: 100vw;
  height: calc(100vh - 30px);
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.text-block {
  margin-top: auto;
  margin-bottom: 70px; 
  width: 100%;
  max-width: 650px;
  text-align: left;
}

.arrow-container {
  position: absolute;
  bottom: 2px; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding-bottom: -10px; 
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 2px; 
  margin-bottom: 10px; 
}

.arrow-button img {
  width: 68px; 
  height: auto;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.25));
  transition: transform 0.3s ease;
}

.arrow-button:hover img {
  transform: translateY(3px) scale(1.03); 
}


@media (max-width: 768px) {
  .arrow-container {
    bottom: 5px; 
  }
  
  .arrow-button img {
    width: 36px; 
  }
  
  .text-block {
    margin-bottom: 15px; 
  }
}


@media (max-width: 480px) {
  .arrow-container {
    bottom: 2px;
  }
  
  .arrow-button img {
    width: 32px;
  }
}